
form{
    margin: 20px;
}
button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:darkblue;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 8px;

}
input{
    /* margin-left: 30px; */
    /* border: 1px solid darkred; */
    /* padding-right: 100px; */
    width: 200px;
}
select{
    margin-left: 150px;
    size: 20px;
}
mat-form-field{
    padding-right: 50px;
    margin-right: 50px;
    width: 200px;
}
